.container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.sidebar {
	min-width: 20%;

	.list-selected {
		background-color: #eee;
	}

	.red-icon {
		color: var(--red);
	}

	.green-icon {
		color: var(--green);
	}

	.blue-icon {
		color: var(--blue);
	}
}