<mat-toolbar class="header mat-elevation-z6">
	<button mat-icon-button
			class="header-icon"
			routerLink="/home">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<span>Casa</span>
</mat-toolbar>

@if (message.id !== -1) {
<mat-card class="message">
	<div class="message-color"
		 [ngStyle]="{'background-color': message.hashColor}"></div>
	<mat-card-content>
		{{message.body}}
		@if (message.type === 1) {
		<div class="message-task-status">
			<mat-checkbox [(ngModel)]="message.done"
						  (ngModelChange)="changeDone()"></mat-checkbox>
		</div>
		}
	</mat-card-content>
	<mat-card-actions class="message-footer">
		<span>{{message.allTags}}</span>
		<span>{{message.date}}</span>
	</mat-card-actions>
</mat-card>
}