.checking-link {
	text-align: center;
	font-size: 2em;

	img {
		display: block;
		margin: 0 auto 32px;
		width: 64px;
	}
}

.warning-link {
	font-size: 2em;
    line-height: 1.5;
    text-align: center;
}