<mat-toolbar color="primary"
			 class="mat-elevation-z6">
	<button mat-icon-button
			routerLink="/">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<span>Casa</span>
</mat-toolbar>

<mat-card class="mat-elevation-z6 center-card checking-link"
		  *ngIf="checkingLink==0">
	<img src="/assets/loading.svg">
	Comprobando enlace...
</mat-card>

<mat-card class="mat-elevation-z6 center-card warning-link"
		  *ngIf="checkingLink==1">
	El enlace que has usado no es correcto o ha caducado. Por favor crea uno nuevo.
</mat-card>

<form name="frm-new-password"
	  (ngSubmit)="doNewPassword($event)"
	  *ngIf="checkingLink==2">
	<mat-card class="mat-elevation-z6 center-card">
		<mat-card-header>
			<mat-card-title>Nueva contraseña</mat-card-title>
		</mat-card-header>
		<mat-card-content class="content">
			<p>
				Introduce una nueva contraseña y confírmala.
			</p>
			<mat-form-field>
				<mat-label>Contraseña</mat-label>
				<input matInput
					   type="password"
					   [(ngModel)]="data.pass"
					   [disabled]="newPasswordSending"
					   required
					   name="pass">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Confirmar contraseña</mat-label>
				<input matInput
					   type="password"
					   [(ngModel)]="data.conf"
					   [disabled]="newPasswordSending"
					   required
					   name="conf_pass">
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions class="actions actions-end">
			<button mat-raised-button
					color="primary"
					[disabled]="newPasswordSending">
				<span *ngIf="!newPasswordSending">Continuar</span>
				<img *ngIf="newPasswordSending"
					 src="/assets/loading.svg"
					 class="loading">
			</button>
		</mat-card-actions>
	</mat-card>
</form>

<mat-card class="mat-elevation-z6 center-card warning-link"
		  *ngIf="checkingLink==3">
	<p>Tu contraseña ha sido cambiada. Ahora ya puedes iniciar sesión.</p>
	<p>
		<button mat-raised-button
				color="primary"
				routerLink="/">
			Continuar
		</button>
	</p>
</mat-card>