<h1>Casa</h1>

<form name="frm-login"
	  (ngSubmit)="doLogin($event)">
	<mat-card class="center-card">
		<mat-card-header>
			<mat-card-title>Iniciar sesión</mat-card-title>
		</mat-card-header>
		<mat-card-content class="content">
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input matInput
					   [(ngModel)]="loginData.email"
					   [disabled]="loginSending"
					   required
					   name="email">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Contraseña</mat-label>
				<input matInput
					   type="password"
					   [(ngModel)]="loginData.pass"
					   [disabled]="loginSending"
					   required
					   name="pass">
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions class="actions-login">
			<button mat-button
					routerLink="/register"
					[disabled]="loginSending">Registro</button>
			<button mat-button
					routerLink="/lost-password"
					[disabled]="loginSending">¿Has olvidado tu contraseña?</button>
			<button mat-raised-button
					color="primary"
					[disabled]="loginSending">
				<span *ngIf="!loginSending">Continuar</span>
				<img *ngIf="loginSending"
					 src="/assets/loading.svg"
					 class="loading">
			</button>
		</mat-card-actions>
	</mat-card>
</form>