h1 {
	font-size: 6em;
	text-align: center;
	margin: 64px 0;
}

mat-card {
	width: 80%;
	margin: 0 auto;

	.content {
		display: flex;
		flex-direction: column;
	}

	.actions {
		display: flex;
		justify-content: space-between;

		.loading {
			width: 24px;
		}
	}
}

@media screen and (min-width: 900px) {
	mat-card {
		width: 30%;
	}
}
