<mat-toolbar color="primary" class="mat-elevation-z6">
	<button mat-icon-button routerLink="/">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<span>Casa</span>
</mat-toolbar>

<form name="frm-register" (ngSubmit)="doRecover($event)">
	<mat-card class="mat-elevation-z6 center-card">
		<mat-card-header>
			<mat-card-title>Recuperar contraseña</mat-card-title>
		</mat-card-header>
		<mat-card-content class="content">
			<p>
				En caso de haber olvidado o perdido tu contraseña, introduce tu email y se te enviará un enlace con el que podrás crear una nueva. Recuerda que este enlace será válido durante 24 horas.
			</p>
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input matInput [(ngModel)]="email" [disabled]="lostSending" required name="email">
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions class="actions actions-end">
			<button mat-raised-button color="primary" [disabled]="lostSending">
				<span *ngIf="!lostSending">Continuar</span>
				<img *ngIf="lostSending" src="/assets/loading.svg" class="loading">
			</button>
		</mat-card-actions>
	</mat-card>
</form>