<mat-sidenav-container class="container">
	<mat-sidenav class="sidebar" #sidenav [(opened)]="opened">
		<mat-toolbar color="primary">
			<mat-toolbar-row>
				<span>Casa</span>
			</mat-toolbar-row>
		</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item routerLink="/profile">
				<mat-icon matListIcon>account_circle</mat-icon>
				Perfil
			</a>
			<a mat-list-item (click)="selectList(-1, $event)" [ngClass]="{'list-selected': selectedType==-1}">
				<mat-icon matListIcon class="blue-icon">list</mat-icon>
				Todos
			</a>
			<a mat-list-item (click)="selectList(1, $event)" [ngClass]="{'list-selected': selectedType==1}">
				<mat-icon matListIcon class="green-icon">article</mat-icon>
				Mensajes
			</a>
			<a mat-list-item (click)="selectList(0, $event)" [ngClass]="{'list-selected': selectedType==0}">
				<mat-icon matListIcon class="red-icon">fact_check</mat-icon>
				Tareas
			</a>
			<a mat-list-item (click)="logout($event)">
				<mat-icon matListIcon >power_settings_new</mat-icon>
				Salir
			</a>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>

		<mat-toolbar color="primary" class="mat-elevation-z6">
			<button mat-icon-button (click)="toggleSidenav()">
				<mat-icon>menu</mat-icon>
			</button>
			<span>Casa</span>
			<span class="spacer"></span>
			<span>Hola {{name}}</span>
		</mat-toolbar>

		<mat-card *ngFor="let message of messages" class="message message-active" (click)="goToMessage(message)">
			<div class="message-color" [ngStyle]="{'background-color': message.hashColor}"></div>
			<mat-card-content>
				{{message.body}}
				<div *ngIf="message.type==1" class="message-task-status">
					<img *ngIf="message.done" src="/assets/check_box_checked.svg" alt="Tarea completada">
					<img *ngIf="!message.done" src="/assets/check_box_no_checked.svg" alt="Tarea no completada">
				</div>
			</mat-card-content>
			<mat-card-actions class="message-footer">
				<span>{{message.allTags}}</span>
				<span>{{message.date}}</span>
			</mat-card-actions>
		</mat-card>

		<button mat-fab color="primary" class="fab" routerLink="/add">
			<mat-icon>add</mat-icon>
		</button>

	</mat-sidenav-content>
</mat-sidenav-container>
