:root {
	--red: #f00;
	--green: #0cb324;
	--blue: #0524db
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: #f7f7f7;
}

.spacer {
	flex: 1 1 auto;
}

.fab {
    position: fixed !important;
    right: 1em;
    bottom: 1em;
}

.center-card {
	width: 80%;
	margin: 32px auto;

	.content {
		display: flex;
		flex-direction: column;
	}

	.actions {
		display: flex;
		justify-content: space-between;

		.loading {
			width: 24px;
		}
	}

	.actions-end {
		justify-content: flex-end;
	}
}

mat-checkbox {
	margin: 0 8px;
}

.tag-list {
	label {
		display: block;
		margin-bottom: 4px;
	}

	a {
		display: inline-block;
		padding: 4px 8px;
		background-color: #ddd;
		border-radius: 4px;
		color: #000;
		text-decoration: none;
		margin-right: 4px;

		&:hover {
			background-color: #ccc;
		}
	}
}

@media screen and (min-width: 900px) {
	.center-card {
		width: 30%;
	}
}
